.contato-button {
    background-color: var(--ciano);
    color: #071821;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.contato-button:hover {
    background-color: transparent;
    color: var(--ciano);
    outline: 2px solid var(--ciano);
}